@model IEnumerable<AspNetCoreTodo.Models.Movie>

@{
    ViewData["Title"] = "Index-Movie Ticketing Web App-ComIT";
}



<div class="container">
<div class="row">
	<div class="col-sm-12">
        
    <div><button type="button" class="btn btn-success float-right --white"><a style="color:white"asp-action="Create">Create New</a></button><h3 class="mt-4 mb-4">Available Movies list table</h3>
    
    </div>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
             <th>
               Cover
            </th>
            <th>
                Movie Title
            </th>
            <th>
                Total Capacity
            </th>
            <th>
                Number of bookings
            </th>
           
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td  style="width:25%">
               <img style="width:25%"src="@item.imgUrl" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedCapacity)
            </td>
            <td>
                <a  class="btn btn-primary" href="/Movies/edit/@item.Id">Edit</a> |
                <a   class="btn btn-info" href="/Movies/details/@item.Id">Details</a> |
                <a   class="btn btn-danger" href="/Movies/delete/@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

	</div>
</div>
</div>
