@model AspNetCoreTodo.Models.Reservation

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mt-5">Are you sure you want to <span class="delete"> DELETE </span> this reservation?</h3>
            <div>
                <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           User GUID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uid)
        </dd>
        <dt class = "col-sm-2">
            Movie ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mid)
        </dd>
        <dt class = "col-sm-2">
            Number of Tickets
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tnumbers)
        </dd>
    </dl>
    
    <hr />
<br>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </form>
</div>
