@model AspNetCoreTodo.Models.Reservation

@{
    ViewData["Title"] = "Reservation detail page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <div>
                <div class="" style="width: 25rem;">
                </div>
                <div>
                    <h4>Reservation</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            User GUID
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Uid)
                        </dd>
                        <dt class="col-sm-2">
                            Movie ID
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Mid)
                        </dd>
                        <dt class="col-sm-2">
                            Number of Tickets
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Tnumbers)
                        </dd>
                    </dl>
                </div>
                <hr>
                <div>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                </div>
